// color
$color-black-1: #181818;
$color-pink-1: #b61984;
$color-white-1: #fff;
$color-violet-1: #dcd1f3;
$color-input-1: #757575;
// font-size
$fs-0: 3rem;
$fs-1: 1rem;
$fs-2: 0.75rem;
$fs-3: 0.5rem;
$fs-footer: 1.25rem;
$fs-title: 1.5rem;
$fs-infor: 2.5rem;
$fs-input: 15px;
// font-weight
$fw-1: 800;
$fw-2: 700;
$fw-3: 500;
$fw-4: 300;
// position
$position: absolute;
$position-2: relative;
// width
$width: 100%;
$infor-width: 9rem;
$input-width: 15rem;
$width-1: 13rem;
// placement
$left-1: 25.7%;
$left-2: 44.4%;
$left-3: 53.1%;
$left-4: 61.2%;
$left-5: 71%;
$top-1: -125px;
$top-2: 355px;
$top-3: 1125px;
$top-4: 1625px;
$top: 15px;
$left: 15px;
// line-height
$lh-1: 65px;
$lh-2: 3;
// height
$height: 1000px;
$infor-height: 2.5rem;
// display
$flex: flex;
$wrap: wrap;
// border-radius
$border-rad: 50px;
$border-rad-2: 51px;
// border
$border: 1px solid rgba(0, 0, 0, 0.1);
// padding
$padding: 5px 0;
$padding-left-1: 5px;
$padding-left-2: 35px;
$padding-left-3: 10px;
$padding-top-1: 15px;
// transition
$transition: all 1s ease;
// box-shadow
$box-shadow: rgba(0, 0, 0, 0.3);
