#about {
  position: relative;
  background-color: $color-white-1;
  .d-flex {
    margin-left: -40px;
    h1 {
      @include textStyle($fs-1, $fw-1, $color-pink-1);
      text-decoration: solid;
    }
    p {
      @include textStyle($fs-0, $fw-1, $color-black-1);
      line-height: $lh-1;
    }
  }
  .sectiontop-cover {
    @include bgCover($position, $width, $top-1);
  }
  .sectionbottom-cover {
    @include bgCover($position, $width, $top-2);
  }
}
